.Weather {
	font-family: arial, sans-serif;
	border: 1px solid #dadde1;
	color: rgb(135, 135, 135);
	padding: 16px;
	border-radius: 4px;
}
.Weather form {
	margin-bottom: 20px;
	margin-left: 115px;
	width: 100%;
}
.Weather #search-button {
	color: white;
	background-color: #cc9bfa;
	border-color: #cc9bfa;
}
.Weather h1 {
	color: #878787;
	margin: 20px 0 0 0;
	font-size: 24px;
	font-weight: 100;
	line-height: 29px;
	padding-left: 20px;
	padding-top: 5px;
}

.Weather ul {
	margin: 0;
	padding-left: 20px;
}
.Weather #temperature-description {
	padding-top: 10px;
	padding-right: 10px;
}

.Weather li {
	font-size: 16px;
	font-weight: 100;
	line-height: 19px;
	list-style: none;
}
.Weather #center-text {
	padding-left: 15px;
	padding-bottom: 15px;
}

.Weather canvas {
	display: center;
	padding-top: 10px;
}

.Weather .temperature {
	font-weight: bold;
	color: rgb(33, 33, 33);
	opacity: 0.8;
	font-size: 64px;
	line-height: 64px;
	padding-left: 10px;
	font-weight: 400;
}
.Weather .units {
	color: rgb(33, 33, 33);
	font-size: 16px;
	font-weight: 400;
	position: relative;
	line-height: 1;
	top: -34px;
}
